// Place all the styles related to the MovieUploader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background: #fff !important;
}
.well-audio{
	position: static !important;
	border-radius: 0px !important;
	border: 0px !important;
	background: #2a2a2a !important;
}
.well{
	top: 80px;
	height: 100px;
	width: 100%;
	position: absolute;
	z-index: 10;
	div{
		float: left;
		margin-right: 20px;
	}
	span{
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
    	padding-bottom: 5.5px !important;
	}
	input[type=file]{
		display: none;
	}
	input[type=text]{
		float: left;
		width: 150px;
	}
	.input-group-btn{
		float: right;
		margin-left: -10px;
		z-index: 10;
		position: relative;
	}
	.input-file-text{
		margin-right: -10px;
	}
	.label-hidden{
		opacity: 0;
	}
	.form-cover-audio{
		width: 90%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		#upload-part{
			display: none;
		}
	}
	.form-cover-movie{
		min-width: 40%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		input[type=text]{
			float: left;
			width: 200px;
		}
	}
}
.well, .update-box{
	.time{
	  float: left;
	  margin-right: 25px;
	}

	.time-input{
	  width: 55px;
	  display: inline-block;
	}
}

.text-center{
	text-align: center;
}

h2{
	margin-top: 1%;
	text-align: center;
}

.container{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	.search-field{
		float: left;
		margin-right: 15px;
		input[type=text]{
			margin-bottom: 0;
			margin-right: -20px;
		}
		.btn-search{
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
	.show-all-field{
		float: left;
		input[type=text]{
			display: none;
		}
	}
}

.movie-container{
	top: 250px;
}

.cover{
	width: 100vw;
	.cover-left,
	.cover-right{
		height: 100vh;
		overflow: hidden;
	}
	.cover-left{
		background: #2a2a2a;
		padding: 0;
		color: #e2e2e2;
		.audio-cover{
			background: #222;
			padding-left: 10px;
			border-radius: 3px;
			padding-right: 10px;
		}
		audio{
			width: 33vw;
		}
	}
	.cover-right{
		background: #eee;
		padding: 0 !important;
		.table-cover{
			height: 100%;
			overflow: auto;
		}
	}
}


.fixed-header{
	width: 100%;
  	table-layout: fixed;
  	border-collapse: collapse;

	th { text-align: center;}
	th,td{
		border: none !important;
	}
	td:nth-child(1), th:nth-child(1) { width: 4.16666666666vw; text-align: center;}
  	td:nth-child(2) { width: 38.166666666667vw; }
  	th:nth-child(2) { width: 30.166666666667vw; }
  	td:nth-child(3) { width: 5.166666666667vw; }
  	th:nth-child(3) { width: 4.166666666667vw; }
  	td:nth-child(4) { width: 5.166666666667vw; text-align: center;}
  	th:nth-child(4) { width: 4.166666666667vw; }
  	td:nth-child(5) { width: 17.166666666667vw; text-align: center;}
  	th:nth-child(5) { width: 16.166666666667vw; }
  	//td:nth-child(6), th:nth-child(6) { width: 20vw; text-align: center;}
	
	thead {
		height: 5vh;
	    tr {
	      display: block;
	      position: relative;
	    }
	}
	tbody {
	    display: block;
	    overflow: auto;
	    width: 100%;
	    height: 100vh;
	}
}

.blue-btn{
  color: white !important;
  background: #3b92ff !important;
  border-color: #3b92ff !important;
}

.blue-btn:hover{
  background: #5fa2f5 !important;
}

.blue-btn:active{
  background: #1e6ed1 !important;
}

.green-btn{
  color: white !important;
  background: #0ead19 !important;
  border-color: #0ead19 !important;
}

.green-btn:hover{
  background: #3bca52 !important;
}

.green-btn:active{
  background: green !important;
}

.hidden{
	display: none;
}

.popup{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed !important;
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
	.box{
		width: 30vw;
		height: 15vw;
		min-width: 400px;
		min-height: 200px;
		position: absolute;
		left: 50%;
		top: 40%;
		margin-left: -15vw;
		margin-top: -8vw;
		background: white;
		border-radius: 10px;
		text-align: center;
		.confirm-box{
			position: absolute;
			width: 100%;
			height: 50%;
			top: 50%;
			left: 0%;
			margin-top: -15%; 
			button{
				width: 150px;
				height: 50px;
				margin: 10px;
			}
		}
	}
}

.update-popup{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed !important;
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
	.update-box{
		padding: 20px;
		width: 40vw;
		min-width: 400px;
		min-height: 200px;
		position: absolute;
		left: 50%;
		top: 40%;
		margin-left: -20vw;
		margin-top: -10vw;
		background: white;
		border-radius: 10px;
		text-align: center;
		h3{
			font-weight: bold;
			margin-bottom: 20px !important;
		}
		.confirm-box{
			label{
				line-height: 36px;
				margin: 10px 0 10px 0;
			}
			input[type="text"]{
				margin: 10px 0 10px 0;
			}
		}
		button{
			width: 150px;
			height: 50px;
			margin: 10px;
		}
	}
}

.timeline{
	height: 6vh;
	width: calc(100% - 6vh - 15%);
	background: #343334;
    margin-left: 6vh;
	.current-bar{
		height: 100%;
		width: 0%;
		opacity: 50%;
		background: #c15320;
		//background: #f42815;
		//background: #4285f4;
		//-webkit-transition: all 0.1s; /* Safari */
    	//transition: all 0.1s;
	}
	.audio-line-cover{
		height: 6vh;
    	width: calc(100% - 6vh - 15%);
		margin-top: -6vh;
		position: absolute;
		.audio-line{
			background: #ffcd00;
			height: 100%;
			width: 10px;
			display: inline-block;
			position: absolute;
			z-index: 0;
			opacity: 0.8;
		}
	}
	.drag-area{
		height: 100%;
		width: 100%;
		margin-top: -6vh;
		z-index: 1000;
		position: relative;
	}
}
.timer{
	width: 15%;
	height: 6vh;
    margin-left: calc(100% - 15%);
	background: black;
	position: absolute;
	margin-top: -6vh;
	overflow: hidden;
	text-align: center;
	font-size: 1.2em;
	padding: 0.5em;
}
.vid-button{
	width: 6vh;
	height: 6vh;
	position: absolute;
	#play-button{
		width: 100%;
		height: 100%;
		display: none;
	}
	#pause-button{
		width: 100%;
		height: 100%;
	}
}

.col-md-0-5{
	width: 4.166666666667%;
}
.col-md-1-5{
	width: 12.5%;
}
